@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("ttf");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: "Montserrat", sans-serif;
}

/* -----ANIMATED CURSOR----- */
body {
  cursor: none;
}

a {
  cursor: none;
}

#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-top: 5px solid #0f0;
  border-left: 5px solid #0f0;
  transform-origin: top;
  transform: translate(-1px, 5px) rotate(15deg) scale(0);
  transition: transform 0.1s;
  pointer-events: none;
  animation: animate 5s linear infinite;
  z-index: 100;
}

#cursor::before {
  content: "";
  position: absolute;
  left: -2.5px;
  width: 5px;
  height: 30px;
  background: #0f0;
  transform-origin: top;
  transform: rotate(315deg);
}

body:hover #cursor {
  transform: translate(-1px, 5px) rotate(15deg) scale(1);
}

@keyframes animate {
  0% {
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 52px #0f0)
      drop-shadow(0 0 2px #0f0) hue-rotate(0deg);
  }
  100% {
    filter: drop-shadow(0 0 5px #0f0) drop-shadow(0 0 5px #0f0)
      drop-shadow(0 0 5px #0f0) hue-rotate(360deg);
  }
}
/* -----ANIMATED CURSOR----- */

#page-grid-container {
  display: grid;
  row-gap: 3rem;
}

@media (min-width: 640px) {
  .exp-entry {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "date title title title"
      "date location location location"
      "date description description description";
  }
  .exp-entry__date {
    grid-area: date;
    margin-top: 0.25rem;
  }

  .exp-entry__title {
    grid-area: title;
  }

  .exp-entry__location {
    grid-area: location;
  }

  .exp-entry__description {
    grid-area: description;
  }

  .proj-entry {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image image title title title"
      "image image description description description"
      "image image state state state"
      "stack stack stack stack stack";
    /* Height adjusted to icon default height */
    grid-template-rows: 32px auto auto;
  }

  .proj-entry__image {
    grid-area: image;
    align-self: center;
  }

  .proj-entry__title {
    grid-area: title;
  }

  .proj-entry__description {
    grid-area: description;
  }

  .proj-entry__state {
    grid-area: state;
  }

  .proj-entry__stack {
    grid-area: stack;
    margin-top: 0.5rem;
  }
}

@media (min-width: 1024px) {
  #page-grid-container {
    display: grid;
    column-gap: 3rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "about about about header header "
      "experience experience experience header header "
      "projects projects projects header header ";
  }

  #header {
    grid-area: header;
  }

  #about {
    grid-area: about;
  }

  #experience {
    grid-area: experience;
  }

  #projects {
    grid-area: projects;
  }
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
